body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

.container {
  background-color: #eeeaea;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
