# Шаблон admin_panel/dashboard.html
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Панель Управления</h2>

        <!-- Здесь будут блоки для управления пользователями, заказами, товарами -->
        <div class="row">
            <!-- Управление пользователями -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Управление пользователями</h4>
                    </div>
                    <div class="card-body">
                        <p><a href="{% url 'admin_panel:manage_users' %}" class="btn btn-primary">Перейти к пользователям</a></p>
                    </div>
                </div>
            </div>

            <!-- Управление заказами -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Управление заказами</h4>
                    </div>
                    <div class="card-body">
                        <p><a href="{% url 'admin_panel:manage_orders' %}" class="btn btn-primary">Перейти к заказам</a></p>
                    </div>
                </div>
            </div>

            <!-- Управление товарами -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Управление товарами</h4>
                    </div>
                    <div class="card-body">
                        <p><a href="{% url 'admin_panel:manage_products' %}" class="btn btn-primary">Перейти к товарам</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
