# templates/base.html
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Магазин цветов{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'accounts:home' %}">Магазин цветов</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:flower_catalog' %}">Каталог</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}">Django Admin</a>
                            </li>
                        {% endif %}
                        {% if user.role == 'admin' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin_panel:dashboard' %}">Админ-панель</a>
                            </li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'orders:order_history' %}">История заказов</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                                Привет, {{ user.username }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'accounts:profile' %}">Профиль</a>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item btn-logout">Выход</button>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Войти</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container mt-4">{% block content %}{% endblock %}</main>

    <!-- Модальное окно для выхода -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="logoutModalLabel">Вы уверены, что хотите выйти?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                  Выход из аккаунта приведет к завершению текущей сессии. Вы уверены?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                  <!-- Форма для выхода -->
                  <form method="post" action="{% url 'accounts:logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Выход</button>
                  </form>
              </div>
          </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script> {% endcomment %}
    <script>
        $(document).ready(function() {
            $(".btn-logout").click(function() {
                $("#logoutModal").modal("show");
            });
        });
    </script>
</body>
</html>

